{#
/**
 * @file slide_entity.html.twig
 * Default theme implementation to present Slide entity data.
 *
 * This template is used when viewing Slide entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_slide_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('slide_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
