<div class="carousel-outer jajabinx">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        {% if config.options[0].Indicators %}
            <ol class="carousel-indicators">
                {% for image in images %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"
                        {% if loop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
        {% endif %}

        <div class="carousel-inner" role="listbox">
            {% for image in images %}
                <div class="item {% if loop.first %}active{% endif %}">
                    <img class="lazy" {% if loop.first %}src="{{ file_url(image.slide) }}"{% else %}src="/loading.svg" data-src="{{ url(image.slide) }}"{% endif %} height="100%" width="100%">
                    {% if config.options[0].Captions %}
                        <div class="carousel-caption">
                            <h3>{{ image.title }}</h3>
                            <p>{{ image.text }}</p>
                            {% if image.button_link and image.button_text %}
                                <a class="btn btn-primary btn-lg" href="{{ image.button_link }}" role="button">{{ image.button_text }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        {% if config.options[0].Controls %}
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        {% endif %}
    </div>
    <h1>{{ images[0].slide }}</h1>
    <h1>{{ file_url(images[0].slide) }}</h1>
</div>